
button{
padding: 8px;
width: 150px;
border-radius: 20px;
background-color: rgb(8, 44, 65);
border-color: rgb(22, 155, 184);
color: white;
}

body{
background: linear-gradient(#ffffff, #053b4e);
}

table{
padding: 20px;
border-radius: 10px;
border: 20px double white;
text-align: center;
justify-content: center;
}

td{
padding: 5px;
width: 500px;
border-radius: 8px;
background-color: rgb(21, 75, 128);
color: white;
font-size: 30px;
height: 30px;

}

h1{
color: rgb(12, 32, 49);
border-radius: 15px;
width: 530px;
color: rgb(11, 49, 79);
}

img{
width: 150px;
background-color: white;
border-radius: 24px 6px;
margin: 20px;

}


body{
margin:0;
font-family:Arial;
background-color: #076585;
height:100vh;
}

.menu{
text-align:center;
padding:20px;
background:rgb(7, 42, 67);
}

.menu a{
color:rgb(255, 255, 255);
text-decoration:none;
margin:20px;
font-size:20px;
padding:10px 20px;
border-radius:10px;
transition:0.3s;
}

.menu a:hover{
background:rgb(255, 255, 255);
color:black;
transform:scale(1.2);

}

h2{
background-color: #053b4e;
color: white;
padding: 30px;
margin: 80px;
font-size: 40px;
border-radius: 30px;
width: 500px;
}